__pycache__
build
#seqan3
.pytest_cache
.vscode
*.fasta
*.pickle
*.zip
cmake-build-debug
bucket_map/benchmark/short_read/index
bucket_map/benchmark/short_read/output
bucket_map/benchmark/long_read/index
bucket_map/benchmark/long_read/output