__pycache__
build
#seqan3
.pytest_cache
.vscode
*.fasta
*.pickle
*.zip
cmake-build-debug
bucket_map/benchmark/index
bucket_map/benchmark/output
bucket_map/benchmark/output_temp
bucket_map/benchmark/log_temp